# If you have a preferred format for your name to be listed in git shortlog,
# add it here.
# The format can be found here: https://git-scm.com/docs/git-shortlog

emilkris33 <emilkris33@gmail.com> Emil <emilkris33@gmail.com>

Koosemose <koosemose@users.noreply.github.com> koosemose <koosemose@users.noreply.github.com>

Martin "quill18" Glaude <quill18@quill18.com> Martin "quill18" Glaude <martin@glaude.name>
Martin "quill18" Glaude <quill18@quill18.com> Martin 'quill18' Glaude <quill18@quill18.com>

relinu <relinu@users.noreply.github.com> Chris <relinu@users.noreply.github.com>

sboigelot <sboigelot@gmail.com> Togis <sboigelot@gmail.com>
