<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <worldWidth>101</worldWidth>
  <worldHeight>101</worldHeight>
  <localization>en_US</localization>
  <DialogBoxSettings_performanceGroup>2</DialogBoxSettings_performanceGroup>
  <DialogBoxSettings_fullScreenToggle>True</DialogBoxSettings_fullScreenToggle>
  <DialogBoxSettings_qualityDropdown>2</DialogBoxSettings_qualityDropdown>
  <DialogBoxSettings_vSyncDropdown>0</DialogBoxSettings_vSyncDropdown>
  <DialogBoxSettings_resolutionDropdown>0</DialogBoxSettings_resolutionDropdown>
  <DialogBoxSettings_musicVolume>1</DialogBoxSettings_musicVolume>
  <DialogBoxSettingsDevConsole_scrollSensitivity>6</DialogBoxSettingsDevConsole_scrollSensitivity>
  <ZoomLerp>10</ZoomLerp>
  <ZoomSensitivity>3</ZoomSensitivity>
  <DialogBoxSettings_developerModeToggle>False</DialogBoxSettings_developerModeToggle>
  <AutosaveInterval>10</AutosaveInterval>
</Settings>